# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/
*.spec

# Virtualenv
.venv/
env/
venv/

# PyInstaller
*.manifest
*.spec
*.exe
*.dll
*.so
*.dylib

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db
desktop.ini

# その他
*.log
*.bak
*.tmp

# AI
.cursor/
.claude/settings.local.json
